@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

h1 {
  font-family: "Noto Sans JP";
  background: #c2edff;
  padding: 0.5em;
}

span,input{
  font-family: "Noto Sans JP";
}

canvas {
  border: 1px solid black;
  background-color: white;
}
